* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "header header header"
    "aside section section"
    "footer footer footer";
    grid-template-columns: 180px 4fr 1fr;
    grid-template-rows: 80px 1fr 10px;
}

nav, aside, section, footer {
    
    padding: 2%;
}

nav {
    grid-area: header;
    background-color: rgb(226, 43, 43);
    text-align: center;
}

aside {
    grid-area: aside;
    background-color: rgb(201, 193, 193);
}

section {
    grid-area: section;
    background-color: rgb(201, 193, 193);
    gap: 50px;
}

footer {
    grid-area: footer;
    background-color: wi;
}

img {
    height: 300px;
    width: 400px;
}

.content-prod {
    display: grid;
    grid-area: "cards cards cards";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.cards {
    text-align: center;
}

button {
    background-color: rgb(172, 112, 112);
    border-radius: 10%;
    height: 25px;
    width: 70px;
}